$bg_header: blue;

@define-mixin flexDivHeader $name {
    width: 25%;
    margin: 10px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    align-items: center;
    height: 100px;
    width: 100%;
    color: #fff;

    .title {
    font-size: 3em;
    }

    .logo {
        display: block;

        img {
            height: 50px;
        }
    }

    .logout {
        display: block;
        font-size: 2em;
    }
}
